@keyframes arrow {
  0% {
      right: 90px;
  }
  
  100% {
      right: 94px;
  }
}

@keyframes heart {
  0% {
      scale: 1;
      transform-origin: center;
  }
  100% {
      scale: 1.5;
      transform-origin: center;
  }
}

@keyframes sparks {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.sparks {
  opacity: 0;
}

.heart .core {
  fill: transparent;
  transition: 0.3s linear;
  transition-delay: 0.03s;
}

.heart:hover .core {
  fill: var(--accent-color);
  transition: 0.3s linear;
}

.heart:active .core {
  fill: red;
  transition: 0.3s linear;
}

.heart .main-body {
  fill: transparent;
  transition: 0.3s linear;
}

.heart:hover .main-body {
  fill: var(--accent-color);
  transition: 0.3s linear;
  transition-delay: 0.05s;
}

.heart:active .main-body {
  fill: red;
  transition: 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: 0.3s linear;
  transition-delay: 0.3s;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .core {
  fill: red;
  transition: 0.3s linear;
}

.like-icon.is-liked .heart {
  animation-name: heart;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  animation-direction: alternate;
}

.like-icon.is-liked .sparks {
  animation-name: sparks;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-delay: 0.3s;
}
