@keyframes arrow {
  0% {
      right: 100px;
  }
  
  100% {
      right: 104px;
  }
}

@keyframes heart {
  0% {
      scale: 1;
      transform-origin: center;
  }
  100% {
      scale: 1.5;
      transform-origin: center;
  }
}

.sparks {
  opacity: 0;
}

@keyframes sparks {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
