/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы


✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--font-main), Arial, Helvetica, sans-serif;
  font-variation-settings: "wght" var(--font-weight-section-text); 
  /* указал "wght" для font-variation-settings так как автотесты без "wght" указывают что свойство отсутствует */
}

.header {
  display: grid;
  inline-size: clamp(23.188rem, 11.7339rem + 48.871vw, 43.625rem);
  margin: 0 auto;
  margin-block-start: 102px;
  background-color: var(--text-content-background);
  font-family: var(--font-accent);
  outline: 2px solid var(--accent-color);
}

.header_title {
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: clamp(3.063rem, 2.4991rem + 2.406vw, 4.063rem);
  display: grid;
  justify-content: center;
  margin-block-start: clamp(7.5rem, 6.9361rem + 2.406vw, 8.5rem);
  text-decoration: none;
}

.header_title:focus {
  outline: none;
}

.header_subtitle {
  color: var(--accent-color);
  display: grid;
  justify-content: center;
  font-size: clamp(0.875rem, 0.5575rem + 1.3546vw, 1.438rem);
  text-transform: uppercase;
  margin-block-start: 20px;
}

.theme-menu {
  display: grid;
  justify-content: center;
  margin-block-start: 26px;
  margin-inline-start: 18px;
  margin-block-end: 20px;
  position: relative;
}

.theme-menu__list {
  display: grid;
  font-size: 14px;
  gap: 9px;
  position: relative;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  border: none;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: var(--text-content-background);
  cursor: pointer;
  transition: 0.3s;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  right: 90px;
  animation: arrow 0.5s infinite alternate ease-in-out;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-block-start: 3px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  content: "";
  width: 100%;
  transform: scaleX(1);
}

.main {
  margin-block-start: 100px;
}

.section {
  position: relative;
  margin: 0 auto;
  display: grid;
  inline-size: clamp(23.188rem, 11.7339rem + 48.871vw, 43.625rem);
}

.section_about {
  margin: 0 auto;
  margin-block-start: 50px;
  position: relative;
  display: grid;
  inline-size: clamp(23.188rem, 11.7339rem + 48.871vw, 43.625rem);
}

.image_wrap {
  border: 2px solid var(--accent-color);
  position: relative;
}

.section_desc {
  border-inline-end: 2px solid var(--accent-color);
  border-inline-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
  background-color: var(--text-content-background);
  display: grid;
}

.section_subject {
  background-color: var(--text-content-background);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  color: var(--accent-color);
  border-inline-end: 2px solid var(--accent-color);
  border-inline-start: 2px solid var(--accent-color);
  border-block-start: 2px solid var(--accent-color);
  padding-block: 5px;
  padding-inline-start: 10px;
  font-variation-settings: var(--font-weight-section-subject);
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.section_text_style {
  color: var(--accent-color);
  font-variation-settings: var(--font-weight-section-text);
  padding-inline: 24px;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  padding-block-start: 23px;
  line-height: 21px;
}

.section_button_wrap {
  padding-block-start: 25px;
  padding-block-end: 25px;
  padding-inline-end: 25px;
  display: flex;
  justify-content: end;
}

.card__icon-button {
  background: transparent;
  margin-inline-end: 5px;
  border-color: transparent;
  max-block-size: 38px;
  transition: 0.3s;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  font-size: 14px;
  min-inline-size: 127px;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.hover_focus_animation_button {
  border: 2px solid var(--accent-color);
  font-family: var(--font-accent);
  color: var(--accent-color);
  background-color: var(--text-content-background);
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.hover_focus_animation_button:focus {
  outline: none;
}

.hover_focus_animation_button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.hover_focus_animation_button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.hover_focus_animation_button:hover::after {
  transform: scaleX(1);
}

.label_text {
  text-transform: uppercase;
  position: absolute;
  mix-blend-mode: hard-light;
  font-family: "PressStart2P", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--accent-color);
  opacity: 0.5;
  z-index: 1;
  top: 26px;
  right: 26px;
  text-shadow: 1px 1px 1px var(--shadow-label-color);
}

@supports ((text-stroke: 1px var(--shadow-label-color)) or (-webkit-text-stroke: 1px var(--shadow-label-color))) {
  .label_text {
      -webkit-text-stroke: 1px var(--shadow-label-color);
      text-stroke: 1px var(--shadow-label-color);
      text-shadow: none;
  }
}

.button_form {
  display: flex;
  justify-content: center;
  margin-block-start: 53px;
  margin-block-end: 105px;
}

.image_symbol {
  inline-size: 21px;
  block-size: 21px;
  fill: var(--color-svg-floppy);
  mix-blend-mode: difference;
}

.card__icon-button-save {
  inline-size: clamp(19.125rem, 18.1026rem + 4.3621vw, 20.938rem);
  min-height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__text {
  font-size: 14px;
  position: relative;
  z-index: 1;
  color: var(--button-text-color-hover);
  mix-blend-mode: difference;
}

.button__text_save {
  font-size: 14px;
  position: relative;
  z-index: 1;
  color: var(--button-text-color-hover);
  mix-blend-mode: difference;
  display: flex;
  gap: 8px;
  align-items: center;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.like-icon {
  width: 39px;
  height: 36px;
  fill: var(--accent-color);
}

.dialog_popup {
  border: 2px solid var(--accent-color);
  background-color: var(--text-content-background);
  font-family: var(--font-accent);
  padding: 30px;
  max-width: 357px;
  min-height: min-content;
  transition: opacity 1s ease-in-out;
}

.dialog_popup::backdrop {
  background: rgb(0 0 0 / 0.75);
}

.dialog:not([open]) {
  opacity: 0;
}

.dialog_popup[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.dialog_form {
  display: grid;
  grid-column-end: 2 span;
}

.dialog_text {
  text-transform: uppercase;
  line-height: 150%;
  padding-left: 20px;
}

.dialog_popup .image_symbol {
  width: 39px;
  height: 39px;
  align-self: center;
}

.dialog_close-button {
  inline-size: 100%;
  padding: 9px;
  text-transform: uppercase;
  margin-block-start: 30px;
  z-index: 1;
}

.image_saturate {
  filter: saturate(200%);
}

.image_hue-rorate {
  filter: hue-rotate(38deg);
}

.image_sepia_saturate {
  filter: sepia(30%) grayscale(0.5);
}

.image_brightness {
  filter: brightness(80%);
}

.image_contrast {
  filter: contrast(120%);
}

.image_opacity {
  filter: opacity(0.8);
}

.image_blur {
  filter: blur(0.1rem);
}

.image_invert {
  filter: invert(0.1);
}

@media (width <= 375px) {
  .card__icon-button-save {
      min-height: 80px;
  }
  .image_symbol {
      inline-size: 28px;
      block-size: 28px;
  }
  .button__text_save {
      display: grid;
      justify-items: center;
  }

  .section_text {
      margin-block-start: 2px;
  }
}
